backcall==0.2.0
certifi==2022.6.15
charset-normalizer==2.0.12
click==8.0.4
dataclasses==0.8
decorator==5.1.1
docker-pycreds==0.4.0
entrypoints==0.4
gitdb==4.0.9
gitpython==3.1.18
idna==3.3
importlib-metadata==4.8.3
ipykernel==5.5.6
ipython-genutils==0.2.0
ipython==7.16.3
jedi==0.17.2
jupyter-client==7.1.2
jupyter-core==4.9.2
nest-asyncio==1.5.5
numpy==1.19.5
parso==0.7.1
pathtools==0.1.2
pexpect==4.8.0
pickleshare==0.7.5
pillow==8.4.0
pip==21.3.1
promise==2.3
prompt-toolkit==3.0.30
protobuf==3.19.4
psutil==5.9.1
ptyprocess==0.7.0
pygments==2.12.0
python-dateutil==2.8.2
pyyaml==6.0
pyzmq==23.2.0
requests==2.27.1
sentry-sdk==1.6.0
setproctitle==1.2.3
setuptools==39.2.0
shortuuid==1.0.9
six==1.16.0
smmap==5.0.0
torch==1.10.1
torchvision==0.11.2
tornado==6.1
traitlets==4.3.3
typing-extensions==4.1.1
urllib3==1.26.9
wandb==0.12.21
wcwidth==0.2.5
zipp==3.6.0